* {
      margin: 0;
      padding: 0;
}
body{
      font-family: 'Lato', sans-serif;
}
.container {
      width: 1140px;
      margin: 0 auto;
      outline: 1pt solid red;

}

.center {
      padding: 0 calc(50% - 1140px / 2);
      outline: 1pt solid red;}


.header { 
      
      background-color: #222222;
      padding: 18px 0;
}


.header_link {
      display: flex;
      justify-content: space-between;
}

.header_contact {
      padding: 0 33px ;
}

.header_search {
      padding-left: 41px;
}

.catalog_cards_first_block {
      background-color: #F8F3F4;
}
.catalog_cards_nav {
      display: flex;
      justify-content: space-between;
      padding: 59px 0 60px 0;
      
}
.catalog_cards_header_h {
      display: inline-block;
}

.catalog_cards_header_h{
      font-size: 24px;
      line-height: 29px;
      color: #F16D7F;
      font-style: normal;
      font-weight: normal;
}
.catalog_nav{

      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #636363;
      text-decoration:none;
}
.catalog_nav_span{
      color: #636363;

}
.catalog_cards_last_link {
      color: #F16D7F;
}

.catalog_nav:active {
      color: #F16D7F;
}

.filter{
display: flex;
}


.filter_blok::-webkit-details-marker {
      display: none;
      outline: none;         
}

.filter_blok {
      cursor: pointer;
}

.filter_blok_menu {
      display: block;
      margin-left: 16px;
      padding: 51px 0 64px 0;
      outline: none;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #EF5B70;
      
}
.filter_small_menu {
      border-left: 5px solid #EF5B70;
      outline: none;
      display: block;
      text-decoration: none;
      

}
.filter_blok[open]  { 
      position: absolute;
      background: #FFFFFF;
      box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
      width: 360px;
    }
.filter_blok_small {
      cursor: pointer;
}

.filter_blok_small[open] {
      cursor: pointer;
}



.filter_small_list{

      display: inline-grid;

}

.filter_small_list a {
      padding: 10px;
      text-decoration: none;
}


.filter_text{

    margin-left: 269px;  

}

.filter_img{
      margin-left: 10px;
      margin-right: 28px;
      color:#EF5B70;
} 


.filter_blok_right {
      display: flex;
}

.filter_blok_menu_text {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #636363;
      display: block;
      padding: 51px 0 64px 0;
}




.products {
      display: flex;
      flex-direction: column;
      align-items: center;

}
.products_header {
      font-size: 30px;
      line-height: 36px;
      color: #222222;
      padding-bottom: 9px;
      text-align: center;
}

.products_p {
      font-size: 14px;
      line-height: 17px;
      color: #9F9F9F; 
      text-align: center; 
      margin-bottom: 48px;
}
.products_all_item_cnt
{
      margin-bottom: 30px;
}
.products_all_item {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-right: -30px;
      margin-bottom: -30px;

}

.products_item_card{
      text-decoration: none;
}

.products_item {
      width: 360px;
      background-color: #F8F8F8;
      margin-right: 30px;
      margin-bottom: 30px;
}


.products_h3 {
      margin: 25px auto 13px 18px ;
      font-size: 13px;
      line-height: 16px;
      color: #000000;
}

.products_text {
      margin-left: 18px;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #5D5D5D;
      margin-bottom: 18px;
      
}
.cost{
      font-size: 16px;
      line-height: 19px;
      color: #F16D7F;
      margin-left: 18px;
      margin-bottom: 20px;
}

.scrolling {
     
      border: 1px solid #EBEBEB;
      display: flex;
      margin: 18px 0 96px 0;
}

.scrolling_preview {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px; 
      color: #C4C4C4;
      text-decoration: none;
      align-self: center;
      margin-right: 23px;
}
.scrolling_link_first{
      color: #EF5B70;
}
.scrolling_link_last{
      margin-right: 1px ;
}

.scrolling_sign {
      margin: 15px 16px 15px 16px;
}














.subscription{
      height: 448px;
      background-image: url(../img/nature.jpg);
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;


}


.subscription_two_blocks {
      display: flex;
      justify-content: space-between;


}
.subscription_left {
      text-align: center;
      width: 360px;
      
}


.subscription_paragraph {
      font-size: 20px;
      line-height: 24px;
      color: #222224;
      margin-top:30px;
      
}

.subscription_img {
      margin-top: 97px;
}
.subscription_right {
      margin-top: 115px;

}
.subscription_right_header {
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #222224;
      text-align: center;
      margin-bottom: 32px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.subscription_text {
      font-weight: normal;
      font-size: 18px;
      line-height: 30px;
      color: #222224;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
form.feadback {
      display: flex;
      justify-content: center;
      
}

.search_input{
      background-color: #E1E1E1;
      border: none;
      border-radius: 25px 0 0 25px;
      color: black;
      font-size: 14px;
      line-height: 17px;
      padding: 20px 25px 20px 23px;
      width: 197px;

}
.search_input::placeholder {
      font-size: 14px;
      line-height: 17px;
      color: #222224;
      opacity: 0.67;
}

.search_input:hover {
      background-color: #e1e1e165;
}
.search_input:focus {
      background-color: #E1E1E1;
      outline: none;
}

.search_btn:hover {
      background-color: #ee1935;
}
.search_btn:focus {
      background-color: #F16D7F;
      outline: none;
}

.link_li {
      margin-right: 7px;
}












.search_btn {
      background-color: #F16D7F;
      border: none;
      border-radius: 0 25px 25px 0;
      padding: 18px 20px 18px 21px;
      color: #FFFFFF;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      cursor: pointer;

}

.footer {
      padding: 24px 0 23px 0;
      background: #222224;
}
.footer_link_block{
      display: flex;
      justify-content: space-between;
      align-items: center;

}
.footer_network {
      display: flex;
      list-style-type: none;
      

}
.footer_text{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #FBFBFB;
}

